<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project3">
        <activity
            android:name=".gift_item"
            android:exported="false" />
        <activity
            android:name=".GiftActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GrandparentsGift"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".MomGift"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".FatherGift"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".SisterGift"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".BrotherGift"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:parentActivityName=".GiftActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project3.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>